

#root {
  margin: 0 auto;
  padding-bottom: 35px;
}

.center {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.left {
  text-align: left;
  margin-right: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

 /* Create Post Page Styling */

#create-post-background {
  margin-top: 45px;
  background-color: #D7EDF6;
  color: #000000;
  padding: 15px 5px;
  font-size: 30px;
  font-weight: bold;
  max-width: max-content;
  margin-right: auto;
  margin-left: auto;
  
  
}

#create-post-header {
  color: #187096;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 55px;
}

#create-post-btn {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 300;
}

.create-post-label {
  display: block;
  margin: 40px 0;
}

.create-post-location-container {
  margin: 40px 0;
}

.create-post-text-input {
  background-color: transparent;
  size: 40px;
  border: transparent;
  border-bottom: 2px solid black;
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding: 3px;
  width: 35%;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}

#create-post-location-background {
  margin-bottom: 70px;
}

.create-post-mode-label {
  margin-left: 15%;
}

.create-post-radio {
  margin: 40px 0;
  
}

.radio-labels {
  margin-left: 15px;
}

.create-post-radio-btn {
  transform: scale(1.5);
  background-color: transparent;
}

#date-time-container {
  margin: 60px 0 80px;
}

#date-input {
  width: 25%;
}

#time-input {
  width: 15%;
}

#create-post-description {
  background-color: white;
  color: black;
  font-size: 30px;
  width: 70%;
  padding: 5px 10px;
  font-family: inherit;

}



/* Post Component Styling */

#post-comp-container {
  background-color: #D7EDF6;
  padding: 50px 40px;
  width: 70%;
  margin: 30px auto;
}

#post-comp-mode-txt {
  color: #D23131;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

#post-comp-locations-txt {
  color: #212121;
  font-size: 36px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0;
}

#post-comp-date-txt {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin-top: 5px;
}

#post-comp-desc-txt {
  color: #187096;
  font-size: 24px;
  font-weight: 400;
}

#post-comp-name-txt {
  color: #358BB0;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

#post-comp-username {
  color: black;

}

/* Post Feed Page Styling */
.feed-post-btn {
  width: 75%;
  color: #FFFFFF;
  font-size: 26;
  font-weight: 500;
  background-color: #D23131;
  text-decoration: none;
  margin-top: 45px;
}

#feed-container {
  margin: 0;
}

/* Navbar Styling */

.navbar {
  margin: 0 0 0 0;
  background-color: #358BB0;
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  
}

.navbar-header {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.navbar-header:active {
  color: white;
}

.nav {
  display: inline;
  margin-top: 0;
}

.nav-items {
  display: inline-block;
  margin-left: 40px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;

}

#nav-btn-logout {
  margin-left: 0;
  padding-left: 3px;
  background-color: transparent;
  border: none;
}

/* Sign Up Page Styling */

.sign-up-container {
  text-align: center;
  margin-top: 100px;
}

.sign-up-title {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  margin-bottom: 80px;
}

.sign-up-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 68px;
  width: 65%;
}

.sign-up-btn-wrapper {
  margin-bottom: 100px;
}

.sign-up-continue-btn {
  background-color: transparent;
  color: black;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 25%;
  padding: 10px 0;
}

.sign-up-done-btn {
  font-weight: 400;
  font-size: 20px;
  background-color: transparent;
  color: black;
  outline: none;
  border: none;
  margin-left: 30px;
  width: 25%;
  
}

/* Home Page Styling */

#home-header {
  height: 500px;
  margin-top: 0;

  background-image: url('images/skybackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  padding-left: 6%;

}

#plane-img {
  
  float: right;
  margin-top: -17%;
  margin-right: 5%;
  
}

.home-header-txt {
  font-size: 70px;
  font-weight: 800;
  color: #0B3749;
}

#special-red {
  color: #D23131;
}

.home-header-btn {
  font-size: 26px;
  font-weight: 500px;
  margin-top: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

#home-login-btn {
  background-color: transparent;
  color: #0B3749;
  border: 2px solid #0B3749;
  border-radius: 5px; 
}

#home-get-btn {
  background-color: #0B3749;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}

#home-desc-txt {
  font-size: 30px;
  font-weight: 400;
  color: #D23131;
  margin-top: 83px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

#review-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 70px;
  justify-content: space-around;
}

.home-review-container {
  max-width: 25%;
}

.reviewer-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.review-desc {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;

}

.review-title {
  margin-top: 30px;
  color: #358BB0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.reviewer-name {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.red-bold {
  color: #D23131;
  font-weight: bold;
}